#about-container {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
    border: 5px solid grey;
    border-radius: 15px;
    padding: 10px;
    background-color: lightgray;

}

#blogs-container {
    margin-bottom: 80px;
    margin-top: 10px;
    text-align: justify;
}

#blogs-container p {
    border: 5px solid grey;
    border-radius: 20px;
    padding: 10px;
    background-color: lightgray;
}