/* Header */
.navbar {
    background-color: lightgray;
}

.title {
    text-shadow: black;
}

/* Footer */
.footer {
    background-color: black;
    color: aliceblue;
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-top: 15px;
    padding-top: 10px;
}

/* NotFound */
.not-found {
    margin: 20px;
    text-align: center;
}